* {
    box-sizing: border-box;
}

:root {
    --primay-background-color: #fff2e5;
    --background-color: #fffaf5;
    --heading-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* ==== Common ==== */
.container {
    width: 1169px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 117px;
    height: 56px;
    display: flex;
    align-items: center;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    padding: 18px 32px;
    border-radius: 25px;
    border: 1px solid #000958;
    opacity: 0.7;
    background: #fff;

    transition: background, color, border, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.btn:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: #ff5b2e;
    opacity: 1;
}

a {
    text-decoration: none;
}

.heading-section {
    font-family: "Sora", sans-serif;
    color: var(--heading-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

/* ===== Header ===== */
.fixed {
    position: sticky;
    padding-bottom: 8px;
    top: -18px;
}

.header {
    min-width: 100vh;
    font-family: "Poppins", sans-serif;
    padding-top: 26px;
    background: var(--background-color);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
}

.navbar-item__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.navbar-item__link:hover {
    color: #000958;
    text-shadow: 0 0 1px currentColor;
}

.navbar-btn {
    width: 117px;
    height: 50px;
    white-space: nowrap;
    background-color: var(--background-color);
}

/* ===== Hero ===== */
.hero {
    padding-top: 92px;
    padding-bottom: 30px;
    background: var(--background-color);
}

.hero-body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero-body__decor {
    position: absolute;
    bottom: 104px;
    left: -58px;
}

.hero-media {
    position: relative;
    width: 47%;
    height: 582px;
}

.hero-cat {
    width: 388px;
    height: 488px;
}

.hero-dog {
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 186px;
    height: 244px;
}

.hero-cat,
.hero-dog {
    object-fit: cover;
    border-radius: 16px;
}

.hero-block {
    width: 250px;
}

.hero-wrapper {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-wrapper__item {
    display: flex;
    align-items: center;
}

.hero-wrapper__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hero-wrapper__info {
    margin-left: 10px;
}

.hero-wrapper__heading {
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-wrapper__line {
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
}

.hero-wrapper__line--one {
    width: 118px;
}

.hero-wrapper__line--two {
    width: 39px;
}

.hero-media__separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}

.hero-body__decor--right {
    position: absolute;
    left: 377px;
    top: 16px;
}

.hero-content {
    width: 42%;
}

.hero-content__heading {
    width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero-content__desc {
    width: 391px;
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    margin-top: 20px;
}

.hero-content-body {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-content-body__btn {
    font-family: "Poppins", sans-serif;
    min-width: 189px;
    height: 60px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 31px;
    border: 1px solid #000958;
    background-color: var(--background-color);
    opacity: 1;
    padding: 22px 30px;
}

.hero-content-body__btn:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-conent-body__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}

.hero-content-body__link {
    font-family: "Poppins", sans-serif;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
    margin-left: 24px;
}
