* {
    box-sizing: border-box;
}

:root {
    --primay-background-color: #fff6ed;
    --background-color: #fffaf5;
    --heading-color: #000958;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

/* ==== Common ==== */
.container {
    width: 1169px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 117px;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    padding: 18px 32px;
    border-radius: 25px;
    border: 1px solid #000958;
    opacity: 0.7;
    background: #fff;

    transition: background, color, border, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.btn:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: #ff5b2e;
    opacity: 1;
}

a {
    text-decoration: none;
}

.heading-section {
    font-family: "Sora", sans-serif;
    color: var(--heading-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

/* ===== Header ===== */
.fixed {
    position: sticky;
    padding-bottom: 8px;
    top: -18px;
}

.header {
    min-width: 100vh;
    font-family: "Poppins", sans-serif;
    padding-top: 26px;
    background: var(--background-color);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
}

.navbar-item__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.navbar-item__link:hover {
    color: #000958;
    text-shadow: 0 0 1px currentColor;
}

.navbar-btn {
    width: 117px;
    height: 50px;
    white-space: nowrap;
    background-color: var(--background-color);
}

/* ===== Hero ===== */
.hero {
    padding-top: 92px;
    padding-bottom: 30px;
    background: var(--background-color);
}

.hero-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.hero-body__decor {
    position: absolute;
    bottom: 104px;
    left: -58px;
}

.hero-media {
    position: relative;
    width: 47%;
    height: 582px;
}

.hero-cat {
    width: 388px;
    height: 488px;
}

.hero-dog {
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 186px;
    height: 244px;
}

.hero-cat,
.hero-dog {
    object-fit: cover;
    border-radius: 16px;
}

.hero-block {
    width: 250px;
}

.hero-wrapper {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-wrapper__item {
    display: flex;
    align-items: center;
}

.hero-wrapper__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hero-wrapper__info {
    margin-left: 10px;
}

.hero-wrapper__heading {
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-wrapper__line {
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
}

.hero-wrapper__line--one {
    width: 118px;
}

.hero-wrapper__line--two {
    width: 39px;
}

.hero-media__separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}

.hero-body__decor--right {
    position: absolute;
    left: 377px;
    top: 16px;
}

.hero-content {
    width: 42%;
}

.hero-content__heading {
    width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero-content__desc {
    width: 391px;
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    margin-top: 20px;
}

.hero-content-body {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-content-body__btn {
    font-family: "Poppins", sans-serif;
    min-width: 189px;
    height: 60px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 31px;
    border: 1px solid #000958;
    background-color: var(--background-color);
    opacity: 1;
    padding: 22px 30px;
}

.hero-content-body__btn:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-conent-body__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}

.hero-content-body__link {
    font-family: "Poppins", sans-serif;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
    margin-left: 24px;
}

/* ==== About ==== */
.about {
    padding-top: 37px;
    padding-bottom: 30px;
    background-color: var(--background-color);
}

.about-body {
    padding: 53px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    width: 40%;
}

.about-info__intro {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about-info__heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
    margin-top: 15px;
}

.about-info__desc {
    width: 431px;
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    margin-top: 24px;
}

.about-info__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 36px;
    margin-top: 54px;
}

.about-info__lable {
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
}

.about-info__lable::before,
.about-info__lable::after {
    content: "";
    display: inline-block;
}

.about-info__lable::before {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    outline: 1px solid #ccc;
    margin-right: 10px;
    background-color: var(--background-color);
}

.about-info__form-control
    [type="checkbox"]:checked
    ~ .about-info__lable::before {
    background-color: #ff5b2e;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    outline: none;
}

.about-info__form [type="checkbox"]:checked ~ .about-info__lable::after {
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("../icon/about-seccefull.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 3px;
    top: 3px;
    bottom: 3px;
}

.about-media {
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-media-wrapper {
    position: relative;
    width: 77%;
    height: 559px;
}

.about-media-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about-media-wrapper__decor {
    position: absolute;
    right: -50px;
    top: 157px;
}

.about-media-wrapper__image {
    position: absolute;
    width: 450px;
    height: 549px;
    object-fit: cover;
    bottom: 0;
    left: 23px;
    right: 21px;
}

.about-media-book {
    position: absolute;
    top: 165px;
    left: -92px;
    width: 136px;
    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-media-book__heading {
    color: #fff;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about-media-book__desc {
    color: #c6f4f9;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about-media-book__icon {
    position: absolute;
    display: inline-block;
    top: -40px;
    left: 84px;
}

/* ==== Feature ==== */
.feature {
    padding-top: 37px;
    padding-bottom: 130px;
    background-color: var(--background-color);
}

.feature-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 55px;
}

/* == Media == */
.feature-media {
    width: 42%;
}

.feature-media-picture {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.feature-media__img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
}

.feature-media__round {
    position: absolute;
    right: -42px;
    bottom: -54px;
}

.feature-media__decor-one {
    position: absolute;
    top: 12px;
    right: 63px;
}

.feature-media__decor-two {
    position: absolute;
    top: -16px;
    right: 13px;
}

.feature-media__decor-three {
    position: absolute;
    top: 33px;
    right: -21px;
}

.feature-media__triangle-white {
    position: absolute;
    right: 19px;
    bottom: 150px;
}

.feature-media__triangle-blue {
    position: absolute;
    right: -33px;
    bottom: 206px;
}

/* == Content == */
.feature-content {
    width: 47%;
}

.feature-content__heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.feature-content__desc {
    width: 511px;
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    margin-top: 24px;
}

.feature-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}

.feature-list::after,
.feature-list::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    bottom: -10px;
}

.feature-list::before {
    width: 95px;
    background: #ff5b2e;
    opacity: 1;
}

.feature-item {
    display: flex;
    align-items: center;
}

.feature-item__icon {
    width: 21px;
    margin-right: 10px;
}

.feature-item__link {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.feature-content__desc--small {
    width: 391px;
    margin-top: 36px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.feature-content__cta {
    position: relative;
    display: inline-block;
    color: #ff5d31;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 32px;
}

.feature-content__cta:hover {
    opacity: 0.8;
}

.feature-content__cta::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -5px;
    background: #ff5d31;
}

/* ==== Service ==== */
.service {
    background-color: var(--primay-background-color);
    padding: 68px 0px 100px;
}

.service-intro {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service-heading {
    color: #000958;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    margin-top: 15px;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 71px;
}

.service-col {
    flex-basis: 25%;
}

.service-col--big {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 751px;
}

.service-col__item {
    width: 294px;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    cursor: pointer;
}

.service-col__item + .service-col__item {
    margin-top: 24px;
}

.service-col__heading {
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}

.service-col__desc {
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    margin-top: 18px;
}

.service-more__link {
    display: flex;
    align-items: center;
    color: #34396a;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: 24px;
}

.service-more__img {
    display: inline-block;
    margin-left: 6px;
}

.serivce-col-image {
    text-align: center;
}

.service-col__bgr {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service-col__picture {
    position: absolute;
    bottom: 0;
    left: -12px;
}

.service-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 214px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    background-color: var(--background-color);
    color: #ff5b2e;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 45px;
}

/* ==== Staff ==== */
.staff {
    padding: 130px 0px;
    background-color: var(--background-color);
}

.staff__intro {
    display: block;
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__heading {
    display: block;
    text-align: center;
    color: #000958;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.19;
    margin-top: 15px;
}

.staff-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 67px;
    margin-top: 78px;
}

.staff-avatar {
    position: relative;
    width: 100%;
    height: 266px;
    border-radius: 130px;
}

.staff-item:nth-child(1) .staff-avatar {
    background: #90ccff;
}

.staff-item:nth-child(2) .staff-avatar {
    background: #ff997e;
}

.staff-item:nth-child(3) .staff-avatar {
    background: #fabf3e;
}

.staff-item:nth-child(4) .staff-avatar {
    background: #5bd6e2;
}

.staff-avatar__member {
    width: 100%;
    position: absolute;
    border-radius: 130px;
    bottom: 0;
}

.staff-avatar__decor {
    position: absolute;
    bottom: 0;
    left: -14px;
}

.staff-item:nth-child(2) .staff-avatar__decor {
    top: 0;
}

.staff-item:nth-child(4) .staff-avatar__decor {
    top: 0;
}

.staff-info__intro {
    font-family: "Poppins", sans-serif;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 34px;
}

.staff-info__heading {
    color: #000958;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 14px;
}

.staff-btn-block {
    display: block;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff-btn {
    min-width: 193px;
    color: #ff5b2e;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
}
